.manage-schedule-container {
    .m-s-title {
        text-transform: uppercase;
        margin: 20px 0;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
    }

    .container {
        .pick-hour-container {
            margin: 20px 0;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            .btn-schedule {
                padding: 10px;
                background-color: #ddd;

                &.active {
                    background-color: orange;
                }
            }
        }
    }
}
